.admin-event-layout {
  display: flex;
  min-height: 100vh;
  background: #181818;
  color: #fff;
}

.admin-event-main {
  flex: 1;
  padding: 30px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-list {
  margin-top: 20px;
}

.event-card {
  background: #1f1f1f;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.event-cover {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.event-info {
  flex: 1;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-events {
  font-size: 14px;
  margin-left: 500px;
}
.form-box {
  background: #222;
  padding: 20px;
  width: 420px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.form-box input,
.form-box textarea,
.form-box select {
  padding: 8px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

/* Gallery Preview */
.gallery-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.img-box {
  position: relative;
}

.img-box img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
}

.img-box span {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 6px;
}

/* Loader */
.loader-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #444;
  border-top: 4px solid #3a86ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Toast */
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #3a86ff;
  padding: 12px 20px;
  border-radius: 6px;
}
